.146_2967 { 
	overflow:hidden;
}
.e146_2967 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1512px;
	height:1574px;
	position:absolute;
}
.e146_2968 { 
	width:477px;
	height:56px;
	position:absolute;
	left:517px;
	top:92px;
}
.ei146_2968_43_1403 { 
	color:rgba(0, 0, 0, 1);
	width:477px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e146_2969 { 
	width:1296px;
	height:32px;
	position:absolute;
	left:108px;
	top:218px;
}
.ei146_2969_43_2720 { 
	width:1297px;
	height:32px;
	position:absolute;
	left:-0.5px;
	top:0px;
}
.ei146_2969_43_2721 { 
	width:1043px;
	height:28px;
	position:absolute;
	left:0px;
	top:2px;
}
.ei146_2969_43_2724 { 
	color:rgba(0, 0, 0, 1);
	width:197px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.ei146_2969_43_2723 { 
	color:rgba(0, 0, 0, 1);
	width:146px;
	height:28px;
	position:absolute;
	left:292px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.ei146_2969_43_2725 { 
	color:rgba(0, 0, 0, 1);
	width:93px;
	height:28px;
	position:absolute;
	left:533px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.ei146_2969_43_2722 { 
	color:rgba(255, 0, 0, 1);
	width:119px;
	height:28px;
	position:absolute;
	left:721px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.ei146_2969_43_2726 { 
	color:rgba(0, 0, 0, 1);
	width:108px;
	height:28px;
	position:absolute;
	left:935px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.ei146_2969_43_2727 { 
	width:32px;
	height:32px;
	position:absolute;
	left:1138px;
	top:0px;
}
.ei146_2969_43_2727_43_2686 { 
	background-color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
	width:32px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei146_2969_43_2727_43_2687 { 
	background-color:rgba(255, 255, 255, 1);
	width:17.913827896118164px;
	height:11.263998985290527px;
	position:absolute;
	left:7.03997802734375px;
	top:10.3525390625px;
}
.ei146_2969_43_2728 { 
	width:32px;
	height:32px;
	position:absolute;
	left:1265px;
	top:0px;
}
.ei146_2969_43_2728_43_2689 { 
	background-color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
	width:32px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei146_2969_43_2728_43_2690 { 
	width:17.93129539489746px;
	height:17.88612174987793px;
	position:absolute;
	left:6.975982666015625px;
	top:6.9990234375px;
}
.ei146_2969_43_2728_43_2691 { 
	background-color:rgba(255, 255, 255, 1);
	width:4.306824207305908px;
	height:17.88612174987793px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei146_2969_43_2728_43_2692 { 
	background-color:rgba(255, 255, 255, 1);
	width:11.591532707214355px;
	height:12.245471000671387px;
	position:absolute;
	left:6.339742183685303px;
	top:5.640787601470947px;
}
.e146_2970 { 
	color:rgba(0, 0, 0, 1);
	width:179px;
	height:48px;
	position:absolute;
	left:666px;
	top:319px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e146_2971 { 
	color:rgba(0, 0, 0, 1);
	width:864px;
	height:637px;
	position:absolute;
	left:540px;
	top:404px;
	text-align:left;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}
.e146_2972 { 
	width:392px;
	height:602px;
	position:absolute;
	left:108px;
	top:408px;
	background-image:url(images/joib_w.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e146_2973 { 
	width:1296px;
	height:212px;
	position:absolute;
	left:108px;
	top:1041px;
}
.e146_2974 { 
	color:rgba(255, 0, 0, 1);
	width:1296px;
	height:96px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e146_2975 { 
	color:rgba(255, 0, 0, 1);
	width:1296px;
	height:76px;
	position:absolute;
	left:0px;
	top:136px;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}

}
